.wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 100px;
  padding: 9px 16px;
  border-radius: 40px;
  font-size: 1.6rem;
  font-weight: 600;
  font-family: var(--font-family);
  cursor: pointer;
  background: linear-gradient(135deg, var(--dark-green) 0%, var(--primary-green) 100%);
  border: 1px solid transparent;
  user-select: none;

  + .wrapper {
    margin-left: 8px;
  }

  &.disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}

.icon + .title,
.title + .icon {
  margin-left: 8px;
}

.icon {
  display: inline-block;
  width: 24px;
  text-align: center;
}

// Button types
.rounded {
  border-radius: 52px;
  position: fixed;
  bottom: 114px;
  right: 16px;
  background: var(--white);
  color: rgba(22, 24, 35, 0.75);
  border-color: rgba(22, 24, 35, 0.12);
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 8px;
  cursor: pointer;
  z-index: 1;
  min-width: 60px;
  padding: 0px 10px;
  height: 40px;

  &:hover {
    border-color: rgba(22, 24, 35, 0.02);
    background-color: rgba(22, 24, 35, 0.03);
  }
}

.primary {
  color: var(--white);
  background-color: var(--primary);
  border-color: var(--primary);

  &:hover {
    border-color: var(--primary);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
  }
}

.outline {
  color: var(--primary);
  border-color: currentColor;

  &:hover {
    border-color: currentColor;
    background-color: rgba(254, 44, 85, 0.06);
  }
}

// Button sizes
.small {
  min-width: 100px;
  color: var(--white);
  padding: 4px 16px;
}

.large {
  padding: 14px 16px;
  min-width: 140px;
}
.text {
  border: none;
  min-width: auto;
  padding: 0;
  cursor: pointer;
  background: transparent;
  &:hover {
    text-decoration: underline;
  }
}
