@mixin flex-center {
  display: flex;
  align-items: center;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-start {
  display: flex;
  align-items: center;
}

@mixin card-shadow {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

@mixin transition {
  transition: all 0.3s ease;
}
